@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    border: 1px solid blue;
    padding: 3px; /* Border color and width */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }